.eenoo-body{
    padding-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    text-align: justify;
}

.price{
    text-align: center;
    font-weight:bold;
    vertical-align:top;
}

.otherProductTitle{
    text-align: center;
}

.socialFooter{
    
    
}